In [ ]:
import mysql.connector
from mysql.connector import Error

try:
    # Se connecter à la base de données
    connection = mysql.connector.connect(
        host='db4free.net',
        user='nevermind1978',
        password='12345678',
        database='datailabdb'
    )

    if connection.is_connected():
        print("Connexion réussie à la base de données MySQL")
        # Créer un curseur pour exécuter des requêtes
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM customers LIMIT 5")
        result = cursor.fetchall()
        for row in result:
            print(row)

except Error as e:
    print(f"Erreur de connexion : {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connexion fermée")

In [1]:
import os
os.environ["PYDEVD_DISABLE_FILE_VALIDATION"] = "1"

In [2]:
#pip install mysql-connector-python==9.2.0

Requirement already satisfied: mysql-connector-python in c:\users\abdal\anaconda3\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~upyterlab (C:\Users\abdal\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~upyterlab (C:\Users\abdal\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~upyterlab (C:\Users\abdal\anaconda3\Lib\site-packages)

In [ ]:
#pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
# Connexion à la base de données MySQL
%sql mysql+mysqlconnector://nevermind1978:12345678@db4free.net:3306/datailabdb

In [8]:
%%sql
SELECT * FROM customers LIMIT 5

 * mysql+mysqlconnector://nevermind1978:***@db4free.net:3306/datailabdb
5 rows affected.

[(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, Decimal('21000.00')),
 (112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, Decimal('71800.00')),
 (114, 'Australian Collectors, Co.', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', 1611, Decimal('117300.00')),
 (119, 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 1370, Decimal('118200.00')),
 (121, 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', None, 'Stavern', None, '4110', 'Norway', 1504, Decimal('81700.00'))]

In [10]:
result = %sql SELECT * FROM customers LIMIT 5

 * mysql+mysqlconnector://nevermind1978:***@db4free.net:3306/datailabdb
5 rows affected.

In [11]:
df = result.DataFrame()

In [ ]:
df

In [ ]:
%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'datailabdb';

In [ ]:
%%sql
SHOW COLUMNS FROM orderdetails;

In [ ]:
print("hello world")